<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>About Talledega Blog Creator</h1>
        <p>This blog creator is a unique project meant for me to get my hands on some technologies I have not used before including
            Flask, SQLAlchemy, ___... It is meant as a learning experience for me but hopefully it turns into something cool!
        </p>
        
        <script src="" async defer></script>
    </body>
</html>