{% extends 'base.html' %}
{% block content %}
    <body>
        <fieldset>
            <legend>Log In</legend>
            <p>
                <label for="username">Enter Username</label>
                <input type="text" id="username" placeholder="kevin3456">
            </p>
            <p>
                <label for="password">Enter Password:</label>
                <input type="text" id="password" placeholder="myblog1234567">
            </p>
        </fieldset>
        
        <script src="" async defer></script>
    </body>
{% endblock %}